* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.coure-item .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.coure-item .desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heading {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
    font-family: var(--font-heading);
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
    --color-header: #fff4d6;
    --color-hover: #35b6a0;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: var(--color-header);
    border-radius: 20px 20px 10px 10px;
}

.header .body {
    display: flex;
    padding: 36px 0 8px;
}

.header .main-content {
    display: flex;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

body .header.fixed {
    position: sticky;
    top: -28px;
}

.nav ul {
    display: flex;
    margin-right: 300px;
}

.nav-action {
    display: flex;
    align-items: center;
}

.nav-action {
    margin-left: auto;
}

.action {
    margin-left: auto;
}

.btn.sign-up {
    background-color: black;
    /* Màu nền */
    color: white;
    /* Màu chữ */
    padding: 10px 20px;
    /* Độ lớn của nút */
    font-size: 16px;
    /* Cỡ chữ */
    border-radius: 24.5px;
    /* Độ cong góc */
    cursor: pointer;
}

.nav ul li a {
    margin-left: 70px;
    color: brown;
    position: relative;
}

.nav ul li a:hover {
    color: rgb(63, 21, 216);
    text-shadow: 1px 0px 0px currentColor;
}

.btn.sign-up:hover {
    color: rgb(57, 212, 26);
}

.cta-gr a.btn:hover {
    opacity: 0.9;
    background-color: var(--color-hover);
}

.nav ul li:first-child {
    font-weight: bold;
}

.nav li.active a::after {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 3px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #171100;
    position: absolute;
    bottom: 1px;
    left: 0px;
}

.item .title {
    font-weight: bold;
}

.item {
    display: flex;
    align-items: center;
}

.header .logo {}

.item .info {
    margin-left: 20px;
}

.media-block {
    position: relative;
}

.hero-summary {
    position: absolute;
    right: 0;
    line-height: 2px;
    bottom: 48px;
    ;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}

.hero {
    padding-top: 56px;
}

.hero .body {
    display: flex;
}

.media-block {
    width: 48%;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgb(239, 250, 228);
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: rgb(190, 224, 155);
}

.hero-summary .item:nth-of-type(3) .icon {
    background: rgb(179, 184, 174);
}

.content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .cta-gr {
    margin: 38px 0 48px;
}

.cta-gr .btn {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
}

.desc {
    color: #5f5b53;
    margin-top: 22px;
}

.btn-watch-video {
    border: none;
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.cta-gr {
    display: flex;
    align-items: center;
}

.btn-watch-video span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.btn-watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4d6;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    cursor: pointer;
}

.btn-watch-video .icon:hover {
    background-color: var(--color-hover);
}

.content-block .desc strong {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    /* 122.727% */
}

.content-block .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    /* 166.667% */
}

.content-block .content-desc {
    display: flex;
    width: 440px;
    margin-top: 10px;
    justify-content: space-between;
}

.popular {
    padding-top: 65px;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 15px;
}

.popular .controls {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.popular .btn-control {
    background-color: #e7e7e7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.popular .btn-control:hover {
    background-color: var(--color-hover);
}

.popular-top .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.popular .info.lv1 {
    width: 40%;
    margin-left: 0px;
}

.coures-list {
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.coure-item {
    border: 1px solid black;
    width: 31.67%;
    border-radius: 15px;
}

.coure-item:hover {
    box-shadow: 0px 18px 36px rgb(63, 58, 58);
    cursor: pointer;
}

.coure-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .info {
    margin: 0px 15px 0px 15px;
}

.info .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.btn-style2 {
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #171100;
    cursor: pointer;
}

.btn-style2:hover {
    color: #ffffff;
    background-color: var(--color-hover);
}

.desc.lv3 {
    margin-top: 2px;
}

.info .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb900;
}

.info .rating .value {
    margin-left: 10px;
}

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback .feedback-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
}

.feedback .info {
    margin-right: ;
}

.feedback blockquotes {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

.feedback .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin: 18px 0 10px;
    font-weight: 700;
    font-size: 2.4rem;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #9b9999;
    font-size: 15px;
}

.feedback-item .dots {
    font-size: 40px;
    color: #ffb900;
}

.dots .dot:hover {
    cursor: pointer;
    color: #d6f815;
}

.open-quotes {
    padding-bottom: 20px;
    margin-right: 0px;
}

.feedback-item .avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.features {
    padding: 65px 0px 65px;
    margin-top: 135px;
}

.features .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .btn.sign-up {
    background-color: var(--primary-color);
}

.body .image {
    display: flex;
}

.features .btn.sign-up:hover {
    cursor: pointer;
    color: #f7f7f7;
    opacity: 0.9;
}

.features .image img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
    margin-right: 30px;
}

.features .image img:nth-of-type(1) {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc.lv2 {
    margin: 10px 0;
}

.features .btn.sign-up {
    margin-top: 15px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .image img {
    width: 470px;
    height: 440px;
}

.blog-list {
    display: flex;
    margin-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    gap: 30px;
    overflow: hidden;
}

.blog-top {
    text-align: center;
}

.blog {
    background-color: #fffcf5;
}

.blog .blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    cursor: pointer;
}

.blog .blog-item:hover {
    box-shadow: 1px 6px 14px rgb(63, 58, 58);
}

.blog .desc.lv2 {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.blog-item {
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 10px;

}

.blog-list .info {
    padding: 20px 20px 20px;
}

.blog-item .date:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 7px;
}

.date {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    position: relative;
}

.date:after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 2px;
    background: #a8a6a1;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    bottom: -12px;

}

.blog .dots {
    margin-top: 20px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
}

.blog .dot:nth-of-type(2) {
    background-color: var(--primary-color);
}

.footer {
    background-color: #2E2100;
}

.footer .row {
    display: flex;
    justify-content: center;
}

.column .desc {
    margin-top: 18px;
    color: #bfbcb2;
    line-height: 1.86;
}

.column li a {
    color: #bfbcb2;
    line-height: 1.86;
}

.column li strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .column .list li {
    list-style-type: none
}

.footer .column .list {
    padding-left: 0;
}

.footer .column {
    width: 21.6%;
}

.column .heading.lv3 {
    display: inline-block;
    margin-top: 0px;
    color: #ffffff;
    padding-right: 48px;
    border-bottom: 2px solid #59554b;
    padding-bottom: 10px;
}

.socials img {
    margin-top: 18px;
    margin-right: 15px;
}

.footer .column:nth-of-type(1) {
    width: 35%;
    margin-right: 100px;
}

.copyright {
    text-align: center;
    padding: 28px 0px;
    color: #807d74;
}

.footer .main-content {
    padding-top: 96px;
}
.copyright .desc{
    display: inline-block;
    border-top: 2px solid #59554b;
    padding-top: 10px;
    padding-left: 190px;
    padding-right: 190px;
    
}
